*.iml
*.ipr
*.iws
*.log*
*.orig
*.svn/*
*/Thumbs.db
*access_log
*CVS/*
*svn*
*Thumbs.db
*Untitled-*
.*.swp
._*
.classpath
.DS_Store
.externalToolBuilders/
.idea/
.lastGoodConfigs/
.project
.settings/
.springBeans
builds/
classes/
maven-eclipse.xml
metrics.
target/
ajcore*.txt